.loader{
    background: rgba(54, 54, 54, 0.3);
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10000;
    &-item{
        width: 200px;

    }
    &__body{
        height: 100vh;
        display: flex;
        align-content: center;
        justify-content: center;
    }
}
