.swiper {
    width: 100%;
    height: 100%;
  }
.swiper-slide .swiper-slide-active{

width: 445px;

}
.little_img{
width: 65px !important;
height: 86px !important;
}
.big_img{
  width: 445px !important;
  height: 593px !important;
}
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .swiper {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;

  }

  .swiper-slide {
    background-size: cover;
    background-position: center;
  }

  .mySwiper2 {
    height: 593px;
    width: 445px;
    margin-bottom: 16px;
  }

  .mySwiper {
    width: 100%;
    height: 86px;
    display: block;

  }

  .mySwiper .swiper-slide {
    width: 100%;
    height: 100%;
    opacity: 0.4;
  }

  .mySwiper .swiper-slide-thumb-active {
    opacity: 1;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media (max-width: 768px) {
    .swiper{
      width: 175px;
      height: 300px;
    }


.swiper-watch-progress{
  display: none;
}
.swiper-slide img{
  width: 136px;
height: 198px;
}
.swiper-wrapper{
  height: 198px;

}
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
top: 200px;
height: 30px;
}
.swiper-pagination-bullet-active{
background: black;

}
.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
  background: #BFC4C9;
}
  }

  .swiper-slide .swiper-slide-visible .swiper-slide-active .swiper-slide-thumb-active{
    width: 65px;
  }

  @media screen {

  }