.container {
    max-width: 1110px;
    margin: 0 auto;
}

.header {
    padding: 32px 0 15px;

    &__burger {
        display: none;

        &_item {
            width: 26.67px;
            height: 2.67px;
            display: block;
            background: #363636;
            margin-bottom: 5.33px;
            border-radius: 2px;
            transition: .1s;
        }

        &_item:last-child {
            margin-bottom: 0;
        }
    }

    &__body {
        display: flex;
        align-items: center;
    }

    &__img {
        margin-right: 120px;
    }

    &__title {
        width: 58%;
        font-weight: 700;
        font-size: 32px;
        line-height: 40px;
        letter-spacing: 0.1px;
        color: #363636;
    }

    &__person {
        display: flex;
        align-items: center;
        justify-content: space-between;
        &_info {
            margin-right: 16px;
        }

        &_info-img {
            width: 58px;
        }
    }
&__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
}

@media (max-width:768px) {
    .container {
        max-width: 640px;
    }

    .header {
        padding: 32px 0 22px;
        &__wrapper{
            justify-content: flex-start;
        }
        &__body{
            position: relative;
        }
        &__burger {
            z-index: 200;
            background: white;
            border: none;
            cursor: pointer;
            display: block;
            margin-right: 24px;

            &_item{
                &-active:nth-child(1){
                    transition: .1s;
                    transform: rotate(45deg)  translateY(2px);

                    width: 26.67px;
                    height: 2.67px;
                    display: block;
                    background: linear-gradient(231.58deg, #F83600 -53.35%, #F9D423 297.76%);
                }
                &-active:nth-child(2){
                    transition: .1s;
                    opacity: 0;
                }
                &-active:nth-child(3){
                    transition: .1s;
                    transform: rotate(-45deg)  translateY(-2px);
                    width: 26.67px;
                    height: 2.67px;
                    display: block;
                    background: linear-gradient(231.58deg, #F83600 -53.35%, #F9D423 297.76%);
                }
            }
        }

        &__img {
            display: none;
        }

        &__person {
            display: none;
        }
    }
}

.burger__close_field{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 3;
}
@media (max-width:320px) {
    .container {
        max-width: 288px;
    }

    .header {
        padding: 24px 0;

        &__burger {

            &_item {
                width: 20px;
                height: 2px;
                background: #363636;
                margin-bottom: 4px;
            }

            &_item:last-child {
                margin-bottom: 0;
            }

        }

        &__title {
            font-style: normal;
            font-size: 18px;
            line-height: 28px;
            margin-right: 0;
        }
    }
}
